<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>insidersalesdemo</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>UIAppFonts</key>
	<array>
		<string>Figtree-Black.ttf</string>
		<string>Figtree-BlackItalic.ttf</string>
		<string>Figtree-Bold.ttf</string>
		<string>Figtree-BoldItalic.ttf</string>
		<string>Figtree-ExtraBold.ttf</string>
		<string>Figtree-ExtraBoldItalic.ttf</string>
		<string>Figtree-Italic.ttf</string>
		<string>Figtree-Light.ttf</string>
		<string>Figtree-LightItalic.ttf</string>
		<string>Figtree-Medium.ttf</string>
		<string>Figtree-MediumItalic.ttf</string>
		<string>Figtree-Regular.ttf</string>
		<string>Figtree-SemiBold.ttf</string>
		<string>Figtree-SemiBoldItalic.ttf</string>
		<string>RedHatDisplay-Black.ttf</string>
		<string>RedHatDisplay-BlackItalic.ttf</string>
		<string>RedHatDisplay-Bold.ttf</string>
		<string>RedHatDisplay-BoldItalic.ttf</string>
		<string>RedHatDisplay-ExtraBold.ttf</string>
		<string>RedHatDisplay-ExtraBoldItalic.ttf</string>
		<string>RedHatDisplay-Italic.ttf</string>
		<string>RedHatDisplay-Light.ttf</string>
		<string>RedHatDisplay-LightItalic.ttf</string>
		<string>RedHatDisplay-Medium.ttf</string>
		<string>RedHatDisplay-MediumItalic.ttf</string>
		<string>RedHatDisplay-Regular.ttf</string>
		<string>RedHatDisplay-SemiBold.ttf</string>
		<string>RedHatDisplay-SemiBoldItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
		<string>processing</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
