# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata
.swiftpm/xcode/xcuserdata

# CocoaPods
Pods/
!Podfile
!Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# macOS
.DS_Store
*.swp
*~
.fseventsd
.Spotlight-V100
.Trashes

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
