# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/


# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
!Podfile
!Podfile.local
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/
!Cartfile
!Cartfile.local
Cartfile.resolved

# macOS
.DS_Store
*.swp
*~
.fseventsd
.Spotlight-V100
.Trashes

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

.claude/settings.local.json

# Firebase
GoogleService-Info.plist
sa.json

# Build output
build/
